<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Team</title>

    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">  
   <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="assets/css/customStyle.css" rel="stylesheet">
   <link href="assets/css/style.css" rel="stylesheet">

</head>
<body style="background-color: dimgray;">
    


         <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <button  class="btn btn-donate btn-primary" style="border-radius: 20px;margin-left: 10px;">Donate</button>
    <div class="container d-flex justify-content-between align-items-center">
 
      <div id="logo">
        <a th:href="@{/}"><img src="assets/img/log.jpeg" style="width:auto;height:50px" alt=""></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="index.html">Regna</a></h1>-->
      </div>
 
      <nav id="navbar" class="navbar" th:replace="index :: nav-bar">
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
 
  <section id="about" class="section-bg team">
  <div class="container-fluid">


    <div class="row">

    <div class="text-center" >
            <div class="container py-5">

                <h1 style="color:#F09B2A">Board of Director </h1>
            <h2 style="font-family: 'Dosis'; font-weight: bold; margin: 0px 12px 0px 12px;">AHNO is led and supervised by a board of 5 members.
            It has core staff 10 persons responsible for management of the projects.</h2>
        
            <div class="row text-center">
              <!-- Team item-->
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/img/member/hidayat.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0" style="font-family: 'Dosis'; font-weight: bold;">Dr.Hidayatullah Mullahkhail</h5><span class="small text-uppercase text-muted" >Chairman</span><br>
                	<a href="mailto:hidayet100@yahoo.com">Email</a>
                </div>
              </div>    
              <!-- End-->
        
               <!-- Team item-->
               <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/img/member/amal.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0" style="font-family: 'Dosis'; font-weight: bold;">Dr.Mohammad Aimal Resali</h5><span class="small text-uppercase text-muted" >Member</span><br>
              	  <a href="mailto:draimalresali@gmail.com">Email</a>
                </div>
              </div>
              <!-- End-->

               <!-- Team item-->
               <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/img/member/nazir.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0" style="font-family: 'Dosis'; font-weight: bold;">Eng.Nazir Ahmad Zafar</h5><span class="small text-uppercase text-muted" >Member</span><br>
                <a href="mailto:nazirahmad.zafar@asiafoundation.org">Email</a>
                </div>
              </div>
              <!-- End-->

               <!-- Team item-->
               <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/img/member/nabeel.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0" style="font-family: 'Dosis'; font-weight: bold;">Dr.Jundullah Nabeel</h5><span class="small text-uppercase text-muted" >Member</span> <br>
                  <a href="mailto:gd@ahno.org.af">Email</a>
                </div>
              </div>
              <!-- End-->
              
                <!-- Team item-->
               <div class="col-xl-3 col-sm-6 mb-5 text-center">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/img/member/bilal.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0" style="font-family: 'Dosis'; font-weight: bold;">Bilal Mayar</h5><span class="small text-uppercase text-muted" >Member</span><br>
                  <a href="mailto:dr.bilalmayar32@gmail.com">Email</a>
                </div>
              </div>
              <!-- End-->
              
                <!-- Team item-->
               <div class="col-xl-3 col-sm-6 mb-5 text-center">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/img/member/ghorzang.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0" style="font-family: 'Dosis'; font-weight: bold;">Ahmad Jawed Ghorzang</h5><span class="small text-uppercase text-muted" >IT Officer</span><br>
                  <a href="mailto:jawedghorzang018@gmail.com">Email</a>
                </div>
              </div>
              <!-- End-->
            </div>
          </div>

    </div>


    </div>
  </div>
  </section>
  
 <footer id="footer" th:replace="index :: footer">
    
  </footer>
  
   		 <div class="bs-example">
     <!-- Button HTML (to Trigger Modal) -->
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-size:30px ;">DONATE</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center" style="line-height:1.5" >
                	<h3 >Bank Accounts in Afghanistan:</h3>
                	<h3 style="color:#FFD700;"> $ </h3>
                    <p style="line-height:1.8;color:cadetblue;font-weight: bold;">USD Account No: 0079381200702893 <br>
                    SWIFT Code: ADFJDDJDLJRO            <br>
                    Bank: AIB Bank</p>
                </div>
               <hr>
               <div class="modal-body text-center" style="line-height:1.5" >
                	<h3 >Bank Accounts in Afghanistan:</h3>
                	<h1 style="color:#FFD700;"> ؋ </h1>
                    <p style="line-height:1.8;color:cadetblue;font-weight: bold;">AF Account No: 0079381200702893 <br>
                    SWIFT Code: ADFJDDJDLJRO            <br>
                    Bank: AIB Bank</p>
                </div>
            </div>
        </div>
     </div>
  </div>
   
      <script src="assets/js/jquery.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/main.js"></script>  
      <script src="assets/js/donate.js"></script>  
</body>
</html>